# ignore various junk/non-relavent files automatically in git.
*~
.metadata
target/
.project
.pydevproject
*.kdev4*
*.layout
*.depends
*.log
*.tmp
*Secret*
*secret*
*SECRET*
*.bak
__pycache__
*.pyc
.mypy_cache
*.swp
*.o
tags
tags_sorted_by_file
