[
  {
    title: "scripts"
    paths: [
      "/home/cj/scripts"
    ]
  }
  {
    title: "colr"
    paths: [
      "/home/cj/scripts/colr"
    ]
  }
  {
    title: "colr.sh"
    paths: [
      "/home/cj/scripts/bash/colr"
    ]
  }
  {
    title: "colr.h"
    paths: [
      "/home/cj/scripts/c/libs/colr"
    ]
  }
  {
    title: "clones"
    paths: [
      "/home/cj/clones"
    ]
  }
  {
    title: "wp_site"
    paths: [
      "/home/cj/scripts/welbornprod/wp_site"
    ]
  }
  {
    title: "welbornprod-root"
    paths: [
      "/home/cj/scripts/welbornprod"
    ]
  }
]
